{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Crear Tarea / Anotacion
{% endblock titulo %}
{% block contenido %}

<div class="container d-flex d-flex justify-content-center align-items-center vh-100">
    <div class="container d-flex d-flex justify-content-center align-items-center vh-100">
        <div class="container d-flex d-flex justify-content-center align-items-center vh-100">
            <div class="card border-primary" style="max-width: 100rem;">
                <div class="card-header">Crear Tarea/Anotacion
                </div>
                <div class="card-body">
                    {{error}}
                    <form action="/create_task/" method="POST">
                        {% csrf_token %}
                        <table>
                            {{form.as_table}}
                        </table>
                        <button>Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock contenido%}