{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
Crear Tarea / Anotacion
{% endblock titulo %}
{% block contenido %}



<div class="container-fluid">
    <div class="card text-white bg-secondary" style="max-width: 200rem;">
        <div class="card-header">Crear Tarea/Anotacion
        </div>
        <div class="card-body text-white bg-secondary">
            {{error}}
            <form class="p-2" action="/create_task/" method="POST">
                {% csrf_token %}


                {{ form|crispy }}
                <div class="d-flex d-flex justify-content-end">

                    <button class="btn btn-outline-warning mx-5">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock contenido%}