{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
Mis Apuntes
{% endblock titulo %}

{%block contenido%}
<div class="container d-flex d-flex justify-content-center align-items-top">
    <div class="card border-white text-white bg-secondary" style="width: 90%">
        <div class="card-header">Mis Tareas <a class="btn btn-outline-warning mx-5" href="{%url 'create_task'%}">Nueva
                Tarea</a></div>
        <div class="card-body">
            {% if tasks %}
            {% for task in tasks %}
            <div class="card text-primary bg-warning mb-3" style="width: 100%">
                <div class="card-header">
                    <span class="h3">
                        {{task.titulo}}
                    </span> - creada: {{task.creado}}
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{task.descripcion}}</h4>
                    <div class="d-flex d-flex justify-content-end align-items-center"> <span><a
                                href="{% url 'detail_task' task.id %}" class="btn
                                    btn-primary">Modificar</a></span>
                        <span>
                            <form action="{% url 'delete_task' task.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger">
                                    Borrar
                                </button>
                            </form>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card text-white bg-primary mb-3" style="max-width: 100rem;">
                <div class="card-body">
                    <h4 class="card-title">Buenas noticias!! no tienes tareas pendientes!!</h4>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock contenido%}