{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
Perfil de {{user.username}}
{% endblock titulo %}




{% block contenido %}

<div class="container-fluid">
    {% if error1 %}
    <div class="alert alert-danger">
        <strong>El perfil solicitado no existe.</strong> <a class='btn btn-outline-primary m-2'
            href="{%url 'explore'%}">Explorar Folder</a>

    </div>
    {% else %}

    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-md-4">
            <div class="card-img-top border-warning">
                <img src={{ profile_user.profile.image.url }} class="card-img" alt="...">

            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body border-white">
                <h3 class="card-title text-white">{{ profile_user.first_name }} {{ profile_user.last_name }}</h3>
                <h5 class="card-title text-warning">@{{ profile_user.username | upper }}</h5>
                <small class="text-white"> {{ profile_user.profile.location }}</small>
                <p class="card-text mt-3 text-white">{{ profile_user.profile.bio }}</p>

                <strong class="card-text mt-3 text-white">Intereses:</strong> <br>

                {% for interest in profile_user.profile.interests.all %}
                <span class="badge bg-secondary  mt-3 text-white bg-black border-white">
                    {{ interest.name | upper}}</span>
                {% endfor %}

            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <strong>Debes inicir sesion para poder acceder al perfil</strong> <a class='btn btn-outline-primary m-2'
            href="{%url 'user_login'%}">Iniciar sesion</a>

    </div>
    {% endif %}
    {% endif %}
</div>


{% endblock contenido %}