{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
Ingresar
{% endblock titulo %}




{% block contenido %}
<div class="container d-flex d-flex justify-content-center">

    <div class="card border-white text-white bg-secondary m-10" style="width: 70%">
        <div class="card-header">LOGIN</div>
        <div class="card-body">
            {% if error %}

            <div class="alert alert-dismissible alert-danger">
                <strong>Ups!</strong> Las credenciales de usuario no son correctas, por favor intentalo nuevamente.
                <button type="button" class="btn-close" data-bs-dismiss="alert">x</button>
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Ingresar</button>
            </form>
            <hr>
            <p>Aun no tienes cuenta?</p>
            <a class='btn btn-primary' href="{%url 'user_signup'%}">Registrarme</a>
        </div>
    </div>
</div>




{% endblock contenido %}